<div class = "container-fluid" style="text-align: center; height: 100vh;">
    <div style = "color: #ffdbdc; display: inline-block; text-align: left; margin-top: 55px;">
        <div style = "font-size: 40px; color: #eaa0a2">About</div>
        <div style = "font-size: 20px;">I graduated from the University of Maryland, College Park in Spring 2019.
            I enjoy collaborating with my teammates to create cloud based solutions.
        </div>
        <div style = "font-size: 20px;">Currently, I am working my on first project at Capital One</div>
    </div>
</div>
