.custom_nav {
  background: rgba(58, 70, 100, 0.5);
}

a:link {
  color: #ffdbdc;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffdbdc;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #eaa0a2;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ffdbdc;
  background-color: transparent;
  text-decoration: underline;
}
