<div class = "container-fluid" style="text-align: center; height: 100vh;">
    <div style = "color: #ffdbdc; display: inline-block; text-align: left; margin-top: 55px;">
        <div style = "color:#eaa0a2;font-size: 40px;">Experience</div>
        <div style = "font-size: 32px;">
            Capital One   
        </div>
        <div style = "font-size: 25px;">Senior Software Engineer - Technology Development Program</div>
        <div>Maintained and developed features for the compliance component of an automated deployment application.</div>
        <div style = "color: white;">Find Out More</div>
        <br/>
        <div style = "font-size: 32px;">
            InfoSys   
        </div>
        <div style = "font-size: 25px;">Intern</div>
        <div>Wrote unit tests for an application that generates airline tariffs for multiple airlines.</div>
        <br/>
        <div style = "font-size: 32px;">
            reACT
        </div>
        <div style = "font-size: 25px;">Intern</div>
        <div>Wrote a HTML/Javascript/jQuery website for the UMD Solar Decathlon team</div>
            <!-- <div class="row">
                <div class="col-sm">
                    <div class="card" style = "display: inline-block; margin: 10px">
                        <div class="card-body">
                            <img src = "assets/CapitalOneLogo.png" style = "width: 100%; height: auto; vertical-align: middle;">
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <div class="card" style = "display: inline-block; margin: 10px">
                        <div class="card-body">
                            <img src = "assets/InfosysLogo.png" style = "width: 100%; height: auto; vertical-align: middle;">
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <div class="card" style = "display: inline-block; margin: 10px">
                        <div class="card-body">
                            <img src = "assets/ReactLogo.png" style = "width: 100%; height: auto; vertical-align: middle;">
                        </div>
                      </div>
                </div>
            </div> -->
    </div>
</div>
