<div class = "container-fluid" style="text-align: center; height: 100vh;">
    <div style = "color: white; display: inline-block; text-align: left; margin-top: 55px;">
        <div style = "font-size: 40px; color: #eaa0a2">Skills</div>
        <div style = "font-size: 20px;">
            <div style = "font-size: 30px; color: #ffdbdc">Front End Layer</div>
            <div class="row">
                <div class="col-lg">
                    Angular
                </div>
                <div class="col-lg">
                    React
                </div>
                <div class="col-lg">
                    One of three columns
                </div>
            </div>
            <div style = "font-size: 30px; color: #ffdbdc">Application Layer</div>
            <div class="row">
                <div class="col-lg">
                    Java (Spring boot)
                </div>
                <div class="col-lg">
                    Python (AWS Lambda)
                </div>
                <div class="col-lg">
                    GoLang
                </div>
            </div>
            <div style = "font-size: 30px; color: #ffdbdc">Database Layer</div>
            <div class="row">
                <div class="col-lg">
                    MongoDB
                </div>
                <div class="col-lg">
                    DynamoDB
                </div>
                <div class="col-lg">
                    Postgres
                </div>
            </div>
        </div>
    </div>
</div>
