<div class = "container-fluid" style="text-align: center;">
    <div style = "color: #ffdbdc; display: inline-block; text-align: left; margin-top: 50px; height: 100vh;">
      <div style = "font-size: 25px;">Hello! My name is</div>
      <div style = "font-size: 50px; color: #eaa0a2">Arden Qiu</div>
      <div style = "font-size: 30px;">Jack of All Trades</div>
      <div style = "font-size:20px">I'm a software engineer based in Mclean, VA for the time being and I work on full stack applications in the cloud.</div>
      <br/>
      <div style = "font-size: 20px;">I want to be a Machine Learning engineer.</div>
    </div>
  </div>
